{% extends "base.html" %}

{% block title %} Create {% endblock %}

{% block content %}

<nav class="navbar" >
    <a class="linkd" id="lf1" href="/" >Home</a>
    <a class="linkd" id="lf2" href="/search" >Other Template</a>
      <a href="https://github.com/PacificPR/creatememes" id="lf3"><img src="../static/img/git_icon.png" style="width: 3vw;height: 3vw;"/></a>
</nav>
  <br>

  <div class="main">
    <div style="float: left;;width: 50%;height: 80%;">
        <img src="{{img}}" style="max-width: 100%;max-height: 100%;" memeid={{id}}>
    </div>

    <div class="contain">
        <h1>Customize It </h1>
        <form method="POST" class="inner" action="/final" style="margin-left: 50%;">
          <div class="conatiner-caption" >
          {% for i in range(box_count) %}
            {% if i==0 %}
            <input class="caption" type="text" name={{i}} id={{i}} placeholder="Enter 1st caption " />
            {% elif i==1 %}
            <input class="caption" type="text" name={{i}} id={{i}} placeholder="Enter 2nd caption " />
            {% elif i==2 %}
            <input class="caption" type="text" name={{i}} id={{i}} placeholder="Enter 3rd caption " />
            {% else %}
            <input class="caption" type="text" name={{i}} id={{i}} placeholder="Enter {{4}}th caption " />
            {% endif %}
          {% endfor %}
        </div>
        <input type="hidden" name="temp_id" value={{id}} />
        <input type="hidden" name="box_count" value={{box_count}} />

        <input type="submit" value="CREATE" />
        </form>
    </div>

  </div>
{% endblock %}

