{% extends "base.html" %}

{% block title %} Your Meme {% endblock %}

{% block content %}

<nav class="navbar" >
    <a class="linkd" id="lf1" href="/" >Home</a>
    <a class="linkd" id="lf2" href="/search" >Other Template</a>
      <a href="https://github.com/PacificPR/creatememes" target="_blank" id="lf3"><img src="../static/img/git_icon.png" style="width: 3vw;height: 3vw;"/></a>
</nav>
  <br>


<br>
    <!-- <a href={{img}} download > <img src="../static/img/meme.jpg" alt="thumbnail" width="120"> </a>  -->
    <a style="margin-left: 30%;" href="{{img}}" download>
       <img src={{img}} style="width: 40vw;height: 40vw;"> 
    </a>
    <div class="down">
      <form method="POST" action="/download">
        <input type="hidden" name="url" value="{{img}}" />
        <button class="btn" id="bt" ><i class="fa fa-download"></i> Download</button>  
      </form>
    </div>
{% endblock %}

