{% extends "base.html" %}

{% block title %} Result {% endblock %}

{% block content %}
    <h1 style="text-align: center;font-size: 3rem;color: #7c795d; font-family: 'Trocchi', serif;padding-top: 2rem;padding-bottom: 2rem;  "> PICK A TEMPLATE </h1>
    
    {% if data %} 
        
       {% for item in data %}
    <div style="width: 30%;float: left;">
    <form class="Frm" name="submitF"  action="/create" method="POST">
            <input type="image"  src={{item["url"]}} memName="{{item["name"]}}" memId="{{item["id"]}}" style="width: 90%;height: 90%;" />
            <input type="hidden" name="meme_id" value="{{item["id"]}}" />
            <input type="hidden" name="meme_url" value="{{item["url"]}}" />
    </form>
    </div>
        {% endfor %}
    {% endif %}

{% endblock %}
